@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: rgb(250, 250, 250);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: #333333;
}
.headerText {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-size: 4vw;
  padding: 2ch;
  border-radius: 2rem;
  position: relative;
  animation: loadin 2s linear;
}
.headerText > b {
  color: #ff1e7c;
}

.headerA,
.headerA:visited {
  border: 0.1em solid white;
  color: white;
  font-size: 0.5em !important;
  text-decoration: none;
  padding: 0 1ch;
  width: max-content;
  margin: 2rem auto 0 auto;
  display: flex;
  align-items: center;
  transition: background-color 0.5s, border 0.5s;
}
.headerA > span,
.headerA:visited > span {
  font-size: 1em;
  margin-left: 2rem;
  transition: transform 0.5s;
}
.headerA:hover {
  background-color: aqua;
  border: 0.1em solid aqua;
}
.headerA:hover > span {
  transform: rotate(90deg);
}

main {
  width: 100vw;
}

nav {
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 10vw;
  background-color: #333333;
  border-bottom: 0.2em solid aqua;
  position: sticky;
  top: 0;
}
a.nav {
  height: 100%;
  font-size: 2vh;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}
a.active {
  color: #ff1e7c;
}
.main {
  height: 100vh;
  width: 100%;
}
#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 10vw;
  padding-right: 10vw;
  align-content: center;
  justify-items: center;
  row-gap: 7rem;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  max-width: 400px;
  position: relative;
}
.circle {
  height: 15rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: aqua;
  display: grid;
  place-items: center;
  font-size: 6rem;
  font-weight: bold;
}
.left h2 {
  color: rgb(22, 22, 22);
}
.left p {
  font-size: 0.9rem;
  color: rgb(44, 44, 44);
}
.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  position: relative;
}
.skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;
}
.item {
  background-color: rgb(0, 151, 151);
  color: white;
  text-align: center;
  font-weight: bold;
  width: 0;
}
.line {
  height: 2px;
  grid-column: span 2;
  background-color: aqua;
}
@keyframes loadin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim1 {
  0% {
    width: 0;
  }
  100% {
    width: 110%;
  }
}
@keyframes anim2 {
  0% {
    opacity: 0;
    left: -10%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes anim3 {
  0% {
    opacity: 0;
    right: -10%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
@keyframes anim4 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
